.App {
  text-align: center;
}

form{
  width: 400px;
  height: auto;
}
div{
  position: relative;
  top: 30px;
  left: 10%;
}
#sub1, #sub2, #sub3, #sub4{
  height: 40px;
  width: 300px;
  margin-bottom: 40px;
  padding-top: 20px;
  border:solid 1px;
  padding-right: 20px;
  background-color: aquamarine;
}

label{
  font-size: 15px;
  font-weight: bold;
}

button{
  color:blue;
  position: relative;
  margin-left: 10%;
  font-size: 20px;
}
