.headerStyle{
  font-size: 30px;
  color: green;
}

.container{
  text-align: center;
}

table {
  margin: 10px auto;
  border-spacing: 0;
  border: 4px solid green;
}

table td, table th{
  padding: 0.5rem;
  border-bottom: 2px solid green;
  border-right: 2px solid green;
}